.center-this-div {
    display: flex;
    justify-content: center;
}
pre {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
    margin: auto 40px auto 40px;
    background: #f4f4f4;
    border: solid 1px #e1e1e1
}
code {
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    display: inline;
    color: #555555;
    padding: 1em 1em;
    background: #f4f4f4;
}
.docs-code {
    margin-top: 50px;
}
.electro-font {
    font-family: Electrolize, Helvetica, Arial, fantasy;
}
.side-nav {
    box-shadow: 2px 7px 20px 10px rgba(0, 0, 0, 0.2);
    height: 100%;
}
.center-doc {
    font-size: 1.2em;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
}
.callout {
    padding: 0;
}
.center-homepage {
    text-align: center;
}
.center-text {
    margin: auto;
    margin-top: 10px;
    left: 0;
    right: 0;
    width: 500px;
}
