* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Electrolize";
}

/**************************************
 * Top Navigation Bar
 */

ul.topnav {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  background-color: #444444;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  padding: 15px;
  color: #00BFFF;
  transition: 0.5s;
  text-decoration: none;
  font-size: 16px;
}

ul.topnav li a:hover {
  background-color: #555555;
}

@media screen and (max-width: 768px) {
  ul.topnav {
    position: relative;
  }
  ul.topnav li {
    float: none;
  }
  ul.topnav li a {
    display: block;
    text-align: center;
  }
}

/**************************************
 * Top Navigation Bar
 */

ul.sidenav {
  position: fixed;
  float: left;
  margin: 56px 0;
  padding: 0;
  width: 200px;
  height: 100vh;
  list-style-type: none;
  overflow: hidden;
  background-color: #F5F5DC;
}

ul.sidenav li a {
  display: inline-block;
  padding: 15px;
  color: #00BFFF;
  transition: 0.5s;
  text-decoration: none;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  ul.sidenav {
    width: 100%;
    max-height: 100%;
    position: relative;
    margin: 0;
    height: auto;
  }
  ul.sidenav li {
    float: none;
  }
  ul.sidenav li a {
    display: block;
    text-align: center;
  }
}

/**************************************
 * Homepage
 */

.homepage-container {
  margin: auto;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 768px;
}

.homepage-container h1 {
  font-family: "Electrolize";
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .homepage-container {
    width: 80%;
  }
}

/**************************************
 * Documentation
 */

.documentation-container {
  margin: auto;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 768px;
}

.documentation-container h1 {
  font-family: "Electrolize";
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .documentation-container {
    width: 80%;
  }
}

code {
  font-size: 90%;
  line-height: 1.2em;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  display: inline;
  color: #555555;
  padding: 1em 1em;
  background: #f4f4f4;
  margin-left: 40px;
}