* {
  margin: 0;
  padding: 0;
}

/**************************************
 * Top Navigation Bar
 */

ul.topnav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #444444;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  padding: 15px;
  color: #00BFFF;
  transition: 0.5s;
  text-decoration: none;
  font-size: 16px;
}

ul.topnav li a:hover {
  background-color: #555555;
}

@media screen and (max-width: 768px) {
  ul.topnav li {
    float: none;
  }
  ul.topnav li a {
    display: block;
    text-align: center;
  }
}

/**************************************
 * Homepage
 */

.homepage-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 768px;
}

.homepage-container h1 {
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .homepage-container {
    width: 80%;
  }
}












.center-this-div {
  display: flex;
  justify-content: center;
}

code {
  font-size: 90%;
  line-height: 1.2em;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  display: inline;
  color: #555555;
  padding: 1em 1em;
  background: #f4f4f4;
  margin-left: 40px;
}

.div-one-hundred {
  width: 100%;
}

.divider {
  color: black;
}

.docs-code {
  margin-top: 50px;
}

.center-doc {
  font-size: 1.2em;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.callout {
  padding: 0;
}

.center-homepage {
  text-align: center;
  margin-top: 20px;
}

.center-text {
  margin: auto;
  margin-top: 50px;
  left: 0;
  right: 0;
  width: 500px;
  height: 100%;
  -webkit-justify-content: space-around; Safari 6.1+
  justify-content: space-around;
  font-family: arial;
}

.documentation-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 20%;
}

.documentation-page {

}

.electro-font {
  font-family: Electrolize, Helvetica, Arial, fantasy;
}

.horizontal .menu .callout .secondary {
  height: 50px;
}

.item {
  font-size: .7em;
  padding: 0;
  margin: 0;
}

.menu .li .center-doc {
  height: 100%;
}
.npm-space {
  margin-left: 15px
};

.nav-nav-height {
  height: 40px;
}

pre {
  font-size: 90%;
  line-height: 1.2em;
  font-family: "Courier 10 Pitch", Courier, monospace;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;

  height:1%;
  width: auto;
  display: block;
  clear: both;
  color: #555555;
  padding: 1em 1em;
  margin: auto 40px auto 40px;
  background: #f4f4f4;
  border: solid 1px #e1e1e1
}

.side-nav {
  padding: 50px;
  position: absolute;
  height: 100%;
}

.title {
  font-size: 1.2em;
  text-decoration: underline;
}

.title-doc {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  font-size: 3em;
  text-decoration: underline;
  font-family: monospace;
}
